title: Disabling Windows Defender Security Settings via PowerShell
id: c8cccb06-faf2-4cd5-886e-2c9636cfcb87
status: stable
level: medium
description: Identifies use of the Set-MpPreference PowerShell command to disable
  or weaken certain Windows Defender settings.
author: Elastic (converted by SIEMLess)
date: '2021-07-07'
modified: '2025-09-12'
logsource:
  product: windows
  category: process_creation
detection:
  selection:
    host_os_type: windows
    event_type: start
    process_name|contains:
    - powershell.exe
    - pwsh.exe
    - powershell_ise.exe
    process_args|contains:
    - -Disable*
    - Disabled
    - NeverSend
    - -Exclusion*
  condition: selection
tags:
- attack.defense_evasion
- attack.execution
- attack.t1059
- attack.t1562
- attack.t1562.001
- attack.t1059.001
references:
- https://docs.microsoft.com/en-us/powershell/module/defender/set-mppreference?view=windowsserver2019-ps
- https://www.elastic.co/security-labs/operation-bleeding-bear
- https://www.elastic.co/security-labs/invisible-miners-unveiling-ghostengine
falsepositives:
- Planned Windows Defender configuration changes.
