title: Insecure AWS EC2 VPC Security Group Ingress Rule Added
id: 25e7fee6-fc25-11ee-ba0f-f661ea17fbce
status: stable
level: medium
description: Identifies when a specified inbound (ingress) rule is added or adjusted
  for a VPC security group in AWS EC2. This rule detects when a security group rule
  is added that allows traffic from any IP address or from a specific IP address to
  common remote access ports, such as 22 (SSH) or 3389 (RDP). Adversaries may add
  these rules to allow remote access to VPC instances from any location, increasing
  the attack surface and potentially exposing the instances to unauthorized access.
author: Elastic (converted by SIEMLess)
date: '2024-04-16'
modified: '2025-07-10'
logsource:
  product: windows
  category: process_creation
detection:
  selection:
    event_dataset: aws.cloudtrail
    event_provider: ec2.amazonaws.com
    event_action: AuthorizeSecurityGroupIngress
    event_outcome: success
    aws_cloudtrail_flattened_request_parameters_ipPermissions_items_ipRanges_items_cidrIp: ("0.0.0.0/0
    aws_cloudtrail_flattened_request_parameters_ipPermissions_items_fromPort: (
  condition: selection
tags:
- attack.defense_evasion
- attack.t1562.007
- attack.t1562
references:
- https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupEgress.html
- https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupIngress.html
- https://www.linkedin.com/pulse/my-backdoors-your-aws-infrastructure-part-3-network-micha%C5%82-brygidyn/
falsepositives:
- "    Administrators may legitimately add security group rules to allow traffic from\
  \ any IP address or from specific IP addresses to common remote access ports.\n\
  \    "
