title: Modification of Environment Variable via Unsigned or Untrusted Parent
id: 7453e19e-3dbf-4e4e-9ae0-33d6c6ed15e1
status: stable
level: medium
description: 'Identifies modifications to an environment variable using the built-in
  launchctl command. Adversaries may execute their

  own malicious payloads by hijacking certain environment variables to load arbitrary
  libraries or bypass certain

  restrictions.'
author: Elastic (converted by SIEMLess)
date: '2021-01-14'
modified: '2025-03-18'
logsource:
  product: macos
  category: process_creation
detection:
  selection:
    host_os_type: macos
    process_name: launchctl
    process_args: setenv
  condition: selection
tags:
- attack.defense_evasion
- attack.t1574
- attack.t1574.007
references:
- https://github.com/rapid7/metasploit-framework/blob/master//modules/post/osx/escalate/tccbypass.rb
