title: Shell Configuration Creation or Modification
id: 28f6f34b-8e16-487a-b5fd-9d22eb903db8
status: stable
level: medium
description: 'This rule monitors the creation/alteration of a shell configuration
  file. Unix systems use shell configuration files to

  set environment variables, create aliases, and customize the user''s environment.
  Adversaries may modify or add a shell

  configuration file to execute malicious code and gain persistence in the system.
  This behavior is consistent with the

  Kaiji malware family.'
author: Elastic (converted by SIEMLess)
date: '2024-04-30'
modified: '2025-06-03'
logsource:
  product: linux
  category: file_event
detection:
  selection:
    host_os_type: linux
    file_Ext_original_extension: dpkg-new
    process_name: perl
    file_path|contains:
    - /etc/profile
    - /etc/profile.d/*
    - /etc/bash.bashrc
    - /etc/bash.bash_logout
    - /etc/zsh/*
    - /etc/csh.cshrc
    - /etc/csh.login
    - /etc/fish/config.fish
    - /etc/ksh.kshrc
    - /home/*/.profile
    - /home/*/.bashrc
    - /home/*/.bash_login
    - /home/*/.bash_logout
    - /home/*/.bash_profile
    - /root/.profile
    - /root/.bashrc
    - /root/.bash_login
    - /root/.bash_logout
    - /root/.bash_profile
    - /root/.bash_aliases
    - /home/*/.bash_aliases
    - /home/*/.zprofile
    - /home/*/.zshrc
    - /root/.zprofile
    - /root/.zshrc
    - /home/*/.cshrc
    - /home/*/.login
    - /home/*/.logout
    - /root/.cshrc
    - /root/.login
    - /root/.logout
    - /home/*/.config/fish/config.fish
    - /root/.config/fish/config.fish
    - /home/*/.kshrc
    - /root/.kshrc
    process_executable|contains:
    - /nix/store/*
    - /var/lib/dpkg/*
    - /tmp/vmis.*
    - /snap/*
    - /dev/fd/*
    - /usr/lib/virtualbox/*
    - /usr/libexec/platform-python*
  condition: selection
tags:
- attack.persistence
- attack.t1546.004
- attack.t1546
references:
- https://intezer.com/blog/research/kaiji-new-chinese-linux-malware-turning-to-golang/
- https://www.elastic.co/security-labs/primer-on-persistence-mechanisms
falsepositives:
- Legitimate user shell modification activity.
