title: Application Gateway WAF - XSS Detection
id: d4631e65-3bcd-5a89-b32a-5d354134ac4f
status: stable
level: high
description: |
  'Identifies a match for XSS attack in the Application gateway WAF logs. The Threshold value in the query can be changed as per your infrastructure's requirement.  References: https://owasp.org/www-project-top-ten/2017/A7_2017-Cross-Site_Scripting_(XSS)'
author: shabaz-github
logsource:
  product: azure
detection:
  selection:
    Category:
      - ApplicationGatewayFirewallLog
      - ApplicationGatewayFirewallLog
    action_s:
      - Matched
      - Blocked
    Blocked_Reason:
      - XSS
  condition: selection
tags:
  - attack.t1189
  - attack.t1203
  - attack.t0853
custom_attributes:
  original_rule_id: d2bc08fa-030a-4eea-931a-762d27c6a042
  source_format: azure_kql