title: Azure AD OAuth Application Consent Granted By User
id: 58222d55-9565-5d0b-9cc6-dba27f047d88
status: stable
level: high
description: |
  The following analytic detects when a user in an Azure AD environment grants consent to an OAuth application. It leverages Azure AD audit logs to identify events where users approve application consents. This activity is significant as it can expose organizational data to third-party applications, a common tactic used by malicious actors to gain unauthorized access. If confirmed malicious, this could lead to unauthorized access to sensitive information and resources. Immediate investigation is r
author: Mauricio Velazco, Splunk
logsource:
  product: azure
  category: authentication
detection:
  selection:
    operationname: Consent to application
    result: success
    field: permissions
  condition: selection
tags:
  - attack.t1528
references:
  - https://attack.mitre.org/techniques/T1528/
  - https://www.microsoft.com/en-us/security/blog/2022/09/22/malicious-oauth-applications-used-to-compromise-email-servers-and-spread-spam/
  - https://learn.microsoft.com/en-us/azure/active-directory/manage-apps/protect-against-consent-phishing
  - https://learn.microsoft.com/en-us/defender-cloud-apps/investigate-risky-oauth
  - https://www.alteredsecurity.com/post/introduction-to-365-stealer
custom_attributes:
  original_rule_id: 10ec9031-015b-4617-b453-c0c1ab729007
  source_format: splunk_spl