title: Detect Regsvr32 Application Control Bypass
id: a7bee055-c200-5db5-bb2b-003cc80fada8
status: stable
level: high
description: |
  The following analytic identifies the abuse of Regsvr32.exe to proxy execution of malicious code, specifically detecting the loading of "scrobj.dll" by Regsvr32.exe. This detection leverages data from Endpoint Detection and Response (EDR) agents, focusing on process creation events and command-line executions. This activity is significant because Regsvr32.exe is a trusted, signed Microsoft binary, often used in "Squiblydoo" attacks to bypass application control mechanisms. If confirmed malicious
author: Michael Haag, Splunk
logsource:
  product: splunk
detection:
  selection:
    _spl_reference: true
  condition: selection
tags:
  - attack.t1218.010
references:
  - https://attack.mitre.org/techniques/T1218/010/
  - https://github.com/redcanaryco/atomic-red-team/blob/master/atomics/T1218.010/T1218.010.md
  - https://lolbas-project.github.io/lolbas/Binaries/Regsvr32/
  - https://support.microsoft.com/en-us/topic/how-to-use-the-regsvr32-tool-and-troubleshoot-regsvr32-error-messages-a98d960a-7392-e6fe-d90a-3f4e0cb543e5
custom_attributes:
  original_rule_id: 070e9b80-6252-11eb-ae93-0242ac130002
  source_format: splunk_spl