title: Disabling CMD Application
id: 3a0752db-2b0e-5729-b4ef-a5e838bb4d28
status: stable
level: high
description: |
  The following analytic detects modifications to the registry that disable the CMD prompt application. It leverages data from the Endpoint.Registry data model, specifically looking for changes to the "DisableCMD" registry value. This activity is significant because disabling CMD can hinder an analyst's ability to investigate and remediate threats, a tactic often used by malware such as RATs, Trojans, or Worms. If confirmed malicious, this could prevent security teams from using CMD for directory 
author: Teoderick Contreras, Splunk, Steven Dick
logsource:
  product: windows
detection:
  selection:
    registry_path: '*\\SOFTWARE\\Policies\\Microsoft\\Windows\\System\\DisableCMD'
    registry_value_data: 0x00000001
  condition: selection
tags:
  - attack.t1112
  - attack.t1562.001
references:
  - https://any.run/report/ea4ea08407d4ee72e009103a3b77e5a09412b722fdef67315ea63f22011152af/a866d7b1-c236-4f26-a391-5ae32213dfc4#registry
custom_attributes:
  original_rule_id: ff86077c-9212-11eb-a1e6-acde48001122
  source_format: splunk_spl