title: Exploit Public Facing Application via Apache Commons Text
id: f77f8943-efb2-5c95-a0ba-56b80d7152cf
status: stable
level: medium
description: |
  The following analytic detects attempts to exploit the CVE-2022-42889 vulnerability in the Apache Commons Text Library, known as Text4Shell. It leverages the Web datamodel to identify suspicious HTTP requests containing specific lookup keys (url, dns, script) that can lead to Remote Code Execution (RCE). This activity is significant as it targets a critical vulnerability that can allow attackers to execute arbitrary code on the server. If confirmed malicious, this could lead to full system compr
author: Michael Haag, Splunk
logsource:
  product: splunk
detection:
  selection:
    datamodel: Web
    fieldname: Score
    http_method:
      - POST
      - GET
  condition: selection
tags:
  - attack.t1133
  - attack.t1190
  - attack.t1505.003
references:
  - https://sysdig.com/blog/cve-2022-42889-text4shell/
  - https://nvd.nist.gov/vuln/detail/CVE-2022-42889
  - https://lists.apache.org/thread/n2bd4vdsgkqh2tm14l1wyc3jyol7s1om
  - https://www.rapid7.com/blog/post/2022/10/17/cve-2022-42889-keep-calm-and-stop-saying-4shell/
  - https://github.com/kljunowsky/CVE-2022-42889-text4shell
custom_attributes:
  original_rule_id: 19a481e0-c97c-4d14-b1db-75a708eb592e
  source_format: splunk_spl