title: Kubernetes Nginx Ingress LFI
id: 607d24e8-f93e-51b3-ba9e-5609c170e160
status: stable
level: high
description: |
  The following analytic detects local file inclusion (LFI) attacks targeting Kubernetes Nginx ingress controllers. It leverages Kubernetes logs, parsing fields such as `request` and `status` to identify suspicious patterns indicative of LFI attempts. This activity is significant because LFI attacks can allow attackers to read sensitive files from the server, potentially exposing critical information. If confirmed malicious, this could lead to unauthorized access to sensitive data, further exploit
author: Patrick Bareiss, Splunk
logsource:
  product: kubernetes
detection:
  selection:
    phase: operate
    severity: high
    field:
      - _raw
      - request
    lfi_path: 'yes'
  condition: selection
tags:
  - attack.t1212
references:
  - https://github.com/splunk/splunk-connect-for-kubernetes
  - https://www.offensive-security.com/metasploit-unleashed/file-inclusion-vulnerabilities/
custom_attributes:
  original_rule_id: 0f83244b-425b-4528-83db-7a88c5f66e48
  source_format: splunk_spl