title: O365 Mailbox Read Access Granted to Application
id: 6084e170-2126-5394-b75a-8b1768156c57
status: stable
level: high
description: |
  The following analytic identifies instances where the Mail.Read Graph API permissions are granted to an application registration within an Office 365 tenant. It leverages O365 audit logs, specifically events related to changes in application permissions within the AzureActiveDirectory workload. This activity is significant because the Mail.Read permission allows applications to access and read all emails within a user's mailbox, which often contain sensitive or confidential information. If confi
author: Mauricio Velazco, Splunk
logsource:
  product: azure
detection:
  selection:
    operation: Update application.
    input: json_data
    output: EntitlementIds
  condition: selection
tags:
  - attack.t1098.003
  - attack.t1114.002
references:
  - https://attack.mitre.org/techniques/T1098/003/
  - https://attack.mitre.org/techniques/T1114/002/
  - https://www.mandiant.com/sites/default/files/2022-08/remediation-hardening-strategies-for-m365-defend-against-apt29-white-paper.pdf
  - https://www.cisa.gov/sites/default/files/publications/Supply_Chain_Compromise_Detecting_APT_Activity_from_known_TTPs.pdf
  - https://learn.microsoft.com/en-us/graph/permissions-reference
custom_attributes:
  original_rule_id: 27ab61c5-f08a-438a-b4d3-325e666490b3
  source_format: splunk_spl