title: Windows SQL Server xp_cmdshell Config Change
id: 982fbd32-c18a-5a19-ba91-e1e49cd7e505
status: stable
level: high
description: |
  This detection identifies when the xp_cmdshell configuration is modified in SQL Server. The xp_cmdshell extended stored procedure allows execution of operating system commands and programs from SQL Server, making it a high-risk feature commonly abused by attackers for privilege escalation and lateral movement.
author: Michael Haag, Splunk, sidoyle from Splunk Community
logsource:
  product: windows
detection:
  selection:
    config_name: xp_cmdshell
    old_value:
      - 0
      - 1
    new_value:
      - 1
      - 0
    change_type:
      - enabled
      - disabled
    risk_message: SQL Server xp_cmdshell was 
    eventcode: 15457
    field: EventData_Xml
  condition: selection
tags:
  - attack.t1505.001
references:
  - https://learn.microsoft.com/en-us/sql/relational-databases/system-stored-procedures/xp-cmdshell-transact-sql
  - https://attack.mitre.org/techniques/T1505/003/
  - https://learn.microsoft.com/en-us/sql/database-engine/configure-windows/xp-cmdshell-server-configuration-option
custom_attributes:
  original_rule_id: 5eb76fe2-a869-4865-8c4c-8cff424b18b1
  source_format: splunk_spl