title: Entra ID application enumeration observed in the Microsoft Graph API
id: 65741b0a-3bd6-545d-adf3-9a1a6d34f8a4
status: experimental
level: low
description: |
  Identify the use GraphRunner's Invoke-DumpApps function to collect applications and external apps as well as users that consented to permissions in their apps.
author: Google Cloud Security
logsource:
  product: azure
detection:
  selection:
    metadata_event_type: NETWORK_HTTP
    metadata_product_event_type: Microsoft Graph Activity
    target_url: 'https://graph.microsoft.com/v1.0/applications'
    network_http_method: GET
    network_http_user_agent: PowerShell
  condition: selection
references:
  - https://github.com/dafthack/GraphRunner/blob/main/GraphRunner.ps1
custom_attributes:
  original_rule_id: mr_3715d986-b1a9-4bb2-b625-acc54cd5322d
  source_format: chronicle_yaral