title: ASR Rule Configuration
id: fba1e71a-2f82-4e83-9e27-de879d6956dd
status: experimental
level: medium
description: |
  This query returns a row for each device and states for every rule the configurationstate. This can help to prioritize rules that are not enabled or misconfigurations in the policy.
author: Bert-JanP
logsource:
  product: microsoft_defender_endpoint
  service: kql
detection:
  _kql_query: |
    DeviceTvmInfoGathering
| summarize arg_max(Timestamp, DeviceId, DeviceName, AdditionalFields) by DeviceId
| extend ASRConfig = AdditionalFields.AsrConfigurationStates
| evaluate bag_unpack(ASRConfig)
  condition: _kql_query
references:
  - https://github.com/Bert-JanP/Hunting-Queries-Detection-Rules
