title: List *.All MS Graph Permissions Added by application.
id: 4b996d64-3189-488b-916f-5ccd7ec86bd4
status: experimental
level: medium
description: |
  This rule detects the usage of *.All Microsoft Graph permissions that are added. *.All permissions should be scoped if possible, this ensures that the least privilege principle can still be applied. You should monitor for overpermissive applications and rare permissions that are added to applications. This query summarize the results for each ServicePrincipalAppId, especially applications that have been granted multiple *.All permissions should be investigated.
author: Bert-JanP
logsource:
  product: azure_ad
  service: kql
detection:
  _kql_query: |
    AuditLogs
    | where Category == "ApplicationManagement"
    | where ActivityDisplayName in ("Add delegated permission grant", "Add app role assignment to service principal")
    | mv-expand TargetResources
    | where TargetResources.displayName == "Microsoft Graph"
    | mv-expand TargetResources.modifiedProperties
    | extend InitiatedByUserPrincipalName = tostring(InitiatedBy.user.userPrincipalName)
    | extend AddedPermission = replace_string(tostring(TargetResources_modifiedProperties.newValue),'"','')
    | extend IP = tostring(todynamic(InitiatedBy).user.ipAddress)
    | extend ServicePrincipalAppId = iff(OperationName == "Add delegated permission grant", replace_string(tostring(todynamic(TargetResources).modifiedProperties[2].newValue),'"','') , replace_string(tostring(todynamic(TargetResources).modifiedProperties[5].newValue),'"',''))
    | where AddedPermission endswith ".All"
    | summarize Permissions = make_set(AddedPermission) by ServicePrincipalAppId, IP, InitiatedByUserPrincipalName
    | extend TotalPermissions = array_length(Permissions)
    | project TotalPermissions, ServicePrincipalAppId, InitiatedByUserPrincipalName, IP, Permissions
    | sort by TotalPermissions
  condition: _kql_query
references:
  - https://github.com/Bert-JanP/Hunting-Queries-Detection-Rules
