title: Prioritize Secure Configuration
id: 8cfeb52b-1a10-4960-bed6-8d3a3f1102a0
status: experimental
level: medium
description: |
  This query helps you prioritize configuration changes that affect your devices based on the Microsoft Defender TVM modules.
author: Bert-JanP
logsource:
  product: microsoft_security
  service: kql
detection:
  _kql_query: |
    DeviceTvmSecureConfigurationAssessment
    | summarize TotalDevices = dcount(DeviceId) by ConfigurationId, ConfigurationCategory
    | join kind=inner DeviceTvmSecureConfigurationAssessmentKB on ConfigurationId
    | sort by ConfigurationImpact, TotalDevices
    | project-reorder ConfigurationId, ConfigurationImpact, TotalDevices, ConfigurationName,  ConfigurationCategory, ConfigurationSubcategory
  condition: _kql_query
references:
  - https://github.com/Bert-JanP/Hunting-Queries-Detection-Rules
